body {
    background-color: #310446;
    color: white;
    font-family: Arial;
}

h1 {
    color: #cfa414;
    text-align: center;
    font-size: 40px;
    border: 3px solid #ff9d2e;
    border-radius: 20px;
    padding: 15px;
}

ul {
    padding: 20px;
}

li {
    font-size: 28px;
    margin-top: 30px;
    padding: 10px;
    border-radius: 15px;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    margin: 10px;
}

p {
    font-size: 18px;
    padding: 15px;
    border-radius: 15px;
}



.dragao {
    color: orange;
    border: 3px solid orange;
    background-color: #351500;
}

.img-dragao {
    border: 3px solid orange;
    background-color: #351500;
}

.texto-dragao {
    border: 2px solid orange;
    background-color: #351500;
}




.fada {
    color: rgb(153, 81, 135);
    border: 3px solid pink;
    background-color: #17351f;
}

.img-fada {
    border: 3px solid pink;
    background-color: #17351f;
}

.texto-fada {
    border: 2px solid rgb(151, 65, 101);
    background-color: #17351f;
}




.sereia {
    color: #279b61;
    border: 3px solid #55d9ff;
    background-color: #062b45;
}

.img-sereia {
    border: 3px solid #55d9ff;
    background-color: #062b45;
}

.texto-sereia {
    border: 2px solid #1da779;
    background-color: #062b45;
}